@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "katex/dist/katex.min.css";

:root {
  /* General */
  --background: #ffffff;
  --foreground: #1F2328;
  --border: #d4d9df;
  --border-width: 1px; /* To remove all ui borders, set to 0px */
  --content-border-width: 1px; /* To remove all text dividers, set to 0px */
  --link: #0969DA;
  --foreground-accent: #1F2328; /* Math equations */

  /* Navigation Bar */
  --navigation-bar-background: #f1f4f5;
  --navigation-bar-foreground: #1F2328;

  /* Side Bar */
  --sidebar-background: #ffffff;
  --sidebar-foreground: #1F2328;
  --sidebar-hover: #f1f4f5;
  --sidebar-selected: #eceff0;
  --sidebar-selected-accent: #0969DA;

  /* Blocks */
  --block-background: #F6F8FA;
  --block-foreground: #1F2328;
  --block-foreground-accent: #1F2328; /* Math equations in blocks */
  --block-border: #d4d9df;
  --block-right: #00a63e;
  --block-wrong: #e7000b;

  /* Block Button */
  --block-button: #f7f8fa;
  --block-button-hover: #eef2f5;
  --block-button-foreground: #1F2328;
  --block-button-right: #dcfce7;
  --block-button-wrong: #ffe2e2;
  --block-border-right: #00a63e;
  --block-border-wrong: #e7000b;

  /* General Button */
  --button: #f7f8fa;
  --button-hover: #eef2f5;
  --button-foreground: #1F2328;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
      /* General */
      --background: #0D1117;
      --foreground: #F0F6FC;
      --border: #3d444c;
      --border-width: 1px; /* To remova all ui borders, set to 0px */
      --content-border-width: 1px; /* To remove all text dividers, set to 0px */
      --link: #4493F8;
      --foreground-accent: #F0F6FC; /* Math equations */

      /* Navigation Bar */
      --navigation-bar-background: #010409;
      --navigation-bar-foreground: #F0F6FC;

      /* Side Bar */
      --sidebar-background: #0D1117;
      --sidebar-foreground: #F0F6FC;
      --sidebar-hover: #1E232A;
      --sidebar-selected: #1E232A;
      --sidebar-selected-accent: #4493F8;

      /* Blocks */
      --block-background: #151B23;
      --block-foreground: #F0F6FC;
      --block-foreground-accent: #F0F6FC; /* Math equations in blocks */
      --block-border: #3d444c;
      --block-right: #05df72;
      --block-wrong: #ff6467;

      /* Block Button */
      --block-button: #212830;
      --block-button-hover: #282c35;
      --block-button-foreground: #F0F6FC;
      --block-button-right: #122b25;
      --block-button-wrong: #351920;
      --block-border-right: #05df72;
      --block-border-wrong: #ff6467;

      /* General Button */
      --button: #212830;
      --button-hover: #282c35;
      --button-foreground: #F0F6FC;
    }
}

@layer components {
    .button {
      @apply text-center p-3
             border-[length:var(--border-width)]
             border-[var(--border)]
             shadow-sm
             bg-[var(--button)]
             hover:bg-[var(--button-hover)]
             h-full w-full rounded-lg
             text-[var(--button-foreground)];
    }
    .block-button {
      @apply text-center p-3
             border-[length:var(--border-width)]
             border-[var(--block-border)]
             bg-[var(--block-button)]
             hover:bg-[var(--block-button-hover)]
             h-full w-full rounded-lg
             text-[var(--block-button-foreground)];
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist;
}
